* {
    box-sizing: border-box;
}

body {
    margin: auto;
    display: block;
}

// ROOT & MIXIN
$firstColor: azure;
$secondColor: black;
$thirdColor: darkred;
$fourColor: rgb(165, 8, 165);
$fiveColor: #171a21;
$sixColor: rgb(31, 31, 31);
$sevenColor: rgb(48, 48, 48);
$eigthColor: #075509;

@mixin flex ($flexDirection) {
    display: flex;
    flex-direction: $flexDirection;
}

// FONTS
@font-face {
    font-family: emizen;
    src: url(./assets/fonts/emizen.otf);
}

@font-face {
    font-family: linkStart;
    src: url(./assets/fonts/linkStart.otf);
}

@font-face {
    font-family: RoundControl;
    src: url(./assets/fonts/roundControl.otf);
}

@font-face {
    font-family: olney;
    src: url(./assets/fonts/olney.otf);
}

@font-face {
    font-family: fastHand;
    src: url(./assets/fonts/fastHand.otf);
}

// HEAD
#me {
    background-image: url('/assets/pict/gamerBackground.jpg');
    .container-fluid {
        .navbar {
            align-items: center;
            justify-content: space-between;
            .navbar-brand {
                width: 60px;
                height: 60px;
                padding: 7px;
                font-size: 2.0em;
                margin-left: 10px;
                border-radius: 50%;
                color: $firstColor;
                letter-spacing: 2px;
                font-family: fastHand;
                border: 1px solid $secondColor;
                background-color: $secondColor;
            }
        }
        .myProfil {
            height: 700px;
            color: $fourColor;
            position: relative;
            text-align: center;
            .containProfil {
              .myName {
                width: 30%;
                margin: 20px auto;
                display: block;
                font-size: 3.2em;
                letter-spacing: 6px;
                border-radius: 40px;
                font-family: emizen;
                cursor: pointer;
                background-color: $fiveColor;
                border: 1px solid $secondColor;
                &:hover {
                  color: $firstColor;
                  background-color: $fourColor;
                }
            }
            .showAnimate {
              .containPresent {
                .row {
                  .col-lg-5 {
                    .img-fluid {
                      height: 405px;
                      max-width: 600px;
                      border-radius: 40px 0px 0px 40px;
                    }
                  }
                  .col-lg-7 {
                    padding: 40px 30px 30px 0px;
                    .job {
                      letter-spacing: 2px;
                      font-size: 1.7em;
                      color: $firstColor;
                      font-family: emizen;
                    }
                    .describe {
                      margin: -10px auto;
                      font-size: 1.3em;
                      color: $firstColor;
                      font-family: olney;
                    }
                    .listPoints {
                      margin: 30px auto;
                      .strong, .weak {
                        letter-spacing: 3px;
                        font-family: linkStart;
                        font-size: 1.3em;
                        color: $firstColor;
                      }
                    }
                  }
                }
              }
            }
            }
        }
    }
}

// ABOUT ME
.aboutMe {
  background-color: $sixColor;
  .about {
    padding-top: 12px;
    color: $firstColor;
    font-size: 2.1em;
    text-align: center;
    font-family: emizen;
    letter-spacing: 4px;
  }
  #myStory {
    padding: 20px;
    flex-direction: row;
    align-items: center;
    .img-fluid {
      height: 600px;
    }
  }
  .meIdentify {
    color: $firstColor;
    line-height: 65px;
    .describeMe {
      font-size: 1.6em;
      font-family: olney;
      letter-spacing: 2px;
    }
  }
}

// CAPACITY
.Capacity {
  padding-top: 20px;
  padding-bottom: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/assets/pict/capacityBackground.jpg');
  .mySuperPower {
    color: $firstColor;
    margin: 5px auto;
    text-align: center;
    letter-spacing: 4px;
    font-family: emizen;
    text-shadow: 0px 1px 5px $secondColor
  }
  #myListCapacities {
    column-gap: 120px;
    justify-content: center;
    @include flex (column);
    margin-top: 20px;
    .frontend {
      justify-content: center;
      column-gap: 60px;
      @include flex (row);
      list-style-type: none;
      .framework {
        font-size: 1.6em;
        letter-spacing: 2px;
        color: $firstColor;
        font-family: RoundControl;
        text-shadow: 0px 1px 5px $secondColor
      }
    }
    .backend {
      justify-content: center;
      column-gap: 60px;
      @include flex (row);
      list-style-type: none;
      .framework {
        font-size: 1.6em;
        letter-spacing: 2px;
        color: $firstColor;
        font-family: RoundControl;
        text-shadow: 0px 1px 5px $secondColor
      }
    }
  }

    #btnCV {
      margin: auto;
      display: block;
      cursor: pointer;
      font-size: 1.4em;
      color: $firstColor;
      border-radius: 10px;
      letter-spacing: 2px;
      font-family: linkStart;
      border: 1px solid $firstColor;
      background-color: #075509;
      &:active {
        transform: translateY(4px);
        background-color: $thirdColor;
      }
      .download {
        color: $firstColor;
        text-decoration: none;
      }
      .fa-download {
        padding-left: 10px;
      }
    }
  }


// PROJETS
#myProjets {
  margin: -16px auto;
  background-size: cover;
  padding: 10px 0px 30px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/assets/pict/projetsWallpaper.jpeg');
  .nameProjet {
    color: $firstColor;
    margin: 5px auto;
    text-align: center;
    letter-spacing: 4px;
    font-family: emizen;
  }
  #listProjets {
    margin: 20px auto;
    text-align: center;
    position: relative;
    top: 50%;
    left: 0%;
    .col-lg-4 {
      .img-fluid {
        width: 100%;
        height: 100%;
        cursor: pointer;
        max-width: 520px;
        object-fit: cover;
        border-radius: 40px;
        transition: all 0.25ms ease;
        border: 1px solid transparent;
      }
    }
  }
  .lienProjets {
    text-align: center;
    .lien {
      color: $firstColor;
      font-size: 1.8em;
      font-weight: bold;
      letter-spacing: 3px;
      text-decoration: none;
      font-family: linkStart;
      &:hover {
        color: $thirdColor;
      }
    }
  }
}

// CONTACT
#contact {
  margin-top: -20px;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/assets/pict/contactBackground.jpeg');
  .titleContact {
    color: $firstColor;
    text-align: center;
    font-family: emizen;
    letter-spacing: 4px;
    text-shadow: 0px 1px 5px $secondColor
  }
  .contactModal {
    padding-right: 18px;
    padding-bottom: 20px;
    width: 40%;
    display: block;
    margin: 10px auto;
    border-radius: 40px;
    background-color: $secondColor;
    border: 1px solid $secondColor;
    .form-area {
      margin-left: 10px;
      text-align: center;
      form {
        .alert {
            width: 80%;
            display: block;
            margin: 5px auto;
            p {
                font-family: olney;
            }
        }
        .form-group {
          .row {
            .col-lg-6 {
              input {
                width: 100%;
                height: 40px;
                font-size: 1.1em;
                max-width: 300px;
                border: 0px solid $firstColor;
                margin: 0px auto;
                border-radius: 5px;
                font-family: RoundControl;
              }
            }
          }
          textarea {
            width: 95%;
            font-size: 1.4em;
            border-radius: 5px;
            margin-top: 25px;
            font-family: RoundControl;
            border: 0px solid $firstColor;
          }
          .warningTwo {
                margin-left: 30px;
                .alert {
                  width: 95%;
                  max-width: 800px;
                }
              }
        }
        #btnSend {
          color: $firstColor;
          border: 1px solid $firstColor;
          display: block;
          cursor: pointer;
          margin: 8px auto;
          font-size: 1.4em;
          padding: 10px 20px;
          border-radius: 5px;
          letter-spacing: 3px;
          font-family: linkStart;
          background-color: transparent;
          transition: all 0.25ms ease;
          &:active {
            color: $secondColor;
            transform: translateY(px);
            background-color: $firstColor;
          }
        }
      }
    }
  }
}

// SHOW PROJET
.showProjet {
  height: 100vh;
  padding-top: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/assets/pict/modalBackground.jpeg');
  #btnCloseProjet {
    position: relative;
    top: 0%;
    left: 99%;
    margin-bottom: -85px;
    transform: translate(-50%, -50%);
    color: azure;
    font-size: 1.7em;
    background: transparent;
    border: transparent;
  }
  .containProjet {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    position: relative;
    text-align: center;
    .nameProjet {
      color: azure;
      font-size: 2.4em;
      text-align: center;
      font-family: linkStart;
    }
    .info {
      @include flex (column);
        .img-fluid {
          height: 620px;
          max-width: 1070px;
        }
        #btnSeeProjet {
          width: 8%;
          margin: 10px auto;
          display: block;
          font-size: 1.4em;
          border-radius: 7px;
          background: transparent;
          border: 2px solid $firstColor;
          text-shadow: 0 1px 0px #000000, 1px 0 0px #000000, 1px 2px 1px #000000, 2px 2px 3px #000000, 2px 2px 2px #ffffff, 2px 2px 0px #ffffff, 2px 2px 8px rgba(206,206,206,0.13);
          a {
            font-family: linkStart;
            color: $firstColor;
            text-decoration: none;
            &:hover {
              color: $secondColor;
              text-shadow: 0 1px 0px #ffffff, 1px 0 0px #ffffff, 1px 0px 1px #000000, 2px 2px 3px #000000, 2px 2px 2px #ffffff, 2px 2px 0px #ffffff, 2px 2px 8px rgba(206,206,206,0.13);
            }
          }
          &:hover {
            background-color: $firstColor;
          }
        }
      }
    .listFrameworks {
      margin: 7px auto;
      #btnFirstLangage {
        font-size: 1.5em;
        font-family: RoundControl;
        color: azure;
        background: rgb(180, 2, 2);
        border: 1px solid rgb(180, 2, 2);
      }
      #btnSecondLangage {
        font-size: 1.5em;
        margin-right: 20px;
        margin-left: 20px;
        font-family: RoundControl;
        color: azure;
        background: rgb(0, 67, 190);
        border: 1px solid rgb(0, 67, 190);
      }
      #btnThirdLangage {
        font-size: 1.5em;
        font-family: RoundControl;
        color: azure;
        background: rgb(137, 4, 177);
        border: 1px solid rgb(137, 4, 177);
      }
      #btnGithub {
        border: none;
        background: transparent;
        .github {
          cursor: pointer;
          font-size: 1.5em;
          color: $firstColor;
          margin-left: 10px;
        }
        &:hover {
          transform: scale(1.4);
        }
      }
    }
    .help {
      color: azure;
      font-size: 2.0em;
      margin-top: 15px;
      text-align: center;
      font-family: linkStart;
    }
  }
}

// MEDIA QUERRY
@media screen and (max-width: 1440px) {
  .showProjet {
    .containProjet {
      .info {
        #btnSeeProjet {
          width: 12%;
          font-size: 1.6em;
        }
      }
      .help {
        margin: 19px auto;
        display: block;
        width: 800px;
      }
    }
  }
}
@media screen and (max-width: 1220px) {
    #my-capacity {
      #myListCapacities {
        @include flex (row);
        .frontend {
          text-align: center;
          @include flex (column);
        }
        .backend {
          text-align: center;
          @include flex (column);
        }
      }
    }
}

@media screen and (max-width: 1024px) {
  #me {
  .container-fluid {
    .myProfil {
      .containProfil {
        .showAnimate {
          .containPresent {
            .row {
              .col-lg-5 {
                .img-fluid {
                  height: 495px;
                }
              }
            }
          }
        }
      }
    }
  }
 }
  #about-me {
    #myStory {
      .col-lg-5 {
        .img-fluid {
          height: 600px;
        }
      }
      .col-lg-7 {
        .meIdentify {
          line-height: 40px;
        }
      }
    }
  }
  #myProjets {
    .nameProjet {
      font-size: 2.1em;
    }
    .lienProjets {
      .lien {
        margin-top: 10px;
        font-size: 1.4em;
      }
    }
  }
  #contact {
    .contactModal {
      padding-bottom: 15px;
      width: 70%;
    }
  }
  .showProjet {
    .containProjet {
      .info {
        .img-fluid {
          height: 500px;
          max-width: 800px;
        }
        #btnSeeProjet {
          width: 18%;
          font-size: 1.6em;
          margin: 13px auto;
        }
      }
      .help {
        font-size: 1.8em;
        margin: 19px auto;
        display: block;
        width: 800px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .Capacity {
    .mySuperPower {
      font-size: 2.8em;
      margin-left: 40px;
    }
  }
  .aboutMe {
    .row {
      .col-lg-5 {
        margin: auto;
        display: block;
        max-width: 800px;
      }
      .col-lg-7 {
        margin-top: 9px;
        margin-bottom: -12px;
        text-align: center;
      }
    }
  }
  #myProjets {
    #listProjets {
      margin-top: -2px;
      .col-lg-4 {
        margin-top: 15px;
        margin-bottom: 15px;
        .img-fluid {
          max-width: 480px;
        }
      }
    }
    .lienProjets {
      margin-top: -18px;
      margin-bottom: 12px;
      .lien {
        font-size: 1.6em;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  #contact {
    .contactModal {
      width: 60%;
      .form-area {
        form {
          .form-group {
            .row {
              .col-lg-6 {
                input {
                  max-width: 400px;
                  width: 100%;
                }
              }
            }
            textarea {
              width: 86%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 959px) {
  #me {
    .container-fluid {
      .myProfil {
        .myName {
          width: 55%;
        }
      }
    }
  }
}

@media screen and (max-width: 792px) {
  #contact {
    .contactModal {
      width: 60%;
      .form-area {
        form {
          .form-group {
            .row {
              .col-lg-6 {
                input {
                  max-width: 370px;
                  width: 100%;
                }
              }
            }
            textarea {
              width: 86%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #me {
  .container-fluid {
    .myProfil {
      .containProfil {
        .myName {
          width: 300px;
        }
        .showAnimate {
          .containPresent {
            height: 550px;
            overflow: auto;
            .row {
              .col-lg-5 {
                .img-fluid {
                  height: 295px;
                  max-width: 737px;
                  border-radius: 40px 40px 0px 0px;
                }
              }
              .col-lg-7 {
                padding: 20px 0px 30px 0px;
                .job {
                  font-size: 1.5em;
                }
              }
            }
          }
        }
      }
    }
  }
  }
  #about-me {
    #myStory {
      .col-lg-5 {
        .img-fluid {
          height: 600px;
        }
      }
      .col-lg-7 {
        .meIdentify {
          margin-top: 10px;
          text-align: center;
          line-height: 40px;
        }
      }
    }
  }
  #myProjets {
    .nameProjet {
      font-size: 2.4em;
    }
    #listProjets {
      margin-top: -2px;
      .col-lg-4 {
        margin-top: 15px;
        margin-bottom: 15px;
        .img-fluid {
          max-width: 480px;
        }
      }
    }
    .lienProjets {
      margin-top: -18px;
      margin-bottom: 12px;
      .lien {
        font-size: 1.6em;
      }
    }
  }
  .Capacity {
    #myListCapacities {
      column-gap: 20px;
    }
  }
  #contact {
    .titleContact {
      margin-top: -15px;
    }
  }
  .showProjet {
    #btnCloseProjet {
      left: 98%;
    }
    .containProjet {
      .info {
        .img-fluid {
          height: 500px;
          max-width: 670px;
        }
        #btnSeeProjet {
          width: 24%;
          font-size: 1.6em;
          margin: 13px auto;
        }
      }
      .help {
        font-size: 1.8em;
        margin: 19px auto;
        display: block;
        width: 720px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .Capacity {
    .mySuperPower {
      font-size: 2.3em;
      margin-left: -5px;
    }
    #myListCapacities {
      column-gap: 20px;
    }
  }
}

@media screen and (max-width: 580px) {
  #myProjets {
    .nameProjet {
      font-size: 2.4em;
    }
    #listProjets {
      #projet {
        .img-fluid {
          max-width: 280px;
        }
      }
    }
    .lienProjets {
      margin-top: -18px;
      margin-bottom: 12px;
      .lien {
        font-size: 1.6em;
      }
    }
  }
  .Capacity {
    .mySuperPower {
      font-size: 1.8em;
    }
  }
}

@media screen and (max-width: 480px) {
  .Capacity {
    .mySuperPower {
      font-size: 1.6em;
      margin-right: 22px;
    }
  }
}

@media screen and (max-width: 425px) {
  #me {
  .container-fluid {
    .myProfil {
      .containProfil {
        .myName {
          width: 300px;
        }
        .showAnimate {
          .containPresent {
            height: 550px;
            overflow: auto;
            .row {
              .col-lg-5 {
                .img-fluid {
                  height: 295px;
                  max-width: 737px;
                  border-radius: 40px 40px 0px 0px;
                }
              }
              .col-lg-7 {
                padding: 20px 40px 10px 40px;
                .job {
                  font-size: 1.4em;
                }
              }
            }
          }
        }
      }
    }
  }
  }
  #about-me {
    #myStory {
      .col-lg-5 {
        .img-fluid {
          height: 600px;
        }
      }
      .col-lg-7 {
        .meIdentify {
          line-height: 35px;
        }
      }
    }
  }
  .Capacity {
    .mySuperPower {
      font-size: 1.8em;
      margin-left: 17px;
    }
    #myListCapacities {
      column-gap: 20px;
      .frontend, .backend {
        .framework {
          font-size: 1.2em;
        }
      }
    }
  }
  #myProjets {
    .nameProjet {
      font-size: 2.4em;
    }
    #listProjets {
      #projet {
        margin: 15px;
        .img-fluid {
          max-width: 320px;
          margin-right: 30px;
        }
      }
    }
    .lienProjets {
      margin-top: -18px;
      margin-bottom: 12px;
      .lien {
        font-size: 1.6em;
      }
    }
  }
  #contact {
    .contactModal {
      width: 85%;
    }
  }
  .showProjet {
    #btnCloseProjet {
      left: 96%;
    }
    .containProjet {
      top: 54%;
      .info {
        .img-fluid {
          display: none;
        }
        #btnSeeProjet {
          width: 36%;
          font-size: 1.6em;
          margin: 13px auto;
        }
      }
      .listFrameworks {
        #btnThirdLangage {
          margin-top: 11px;
        }
      }
      .help {
        font-size: 1.8em;
        margin: 19px auto;
        display: block;
        width: 290px;
      }
    }
  }
  #present {
    padding: 20px;
    #btnClosePresent {
      top: 4%;
      left: 87%;
    }
    .modal-dialog {
      width: 100%;
      max-width: 900px;
      top: 50%;
      left: 45%;
      position: relative;
      transform: translate(-50%, -50%);
      .modal-content {
        height: 770px;
        padding: 20px;
        width: 450px;
        .modal-footer {height: 290px;
          .describeMe {
            height: 260px;
            overflow: auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  #me {
    .container-fluid {
      .myProfil {
        .myName {
          width: 80%;
        }
      }
    }
  }
  .Capacity {
    .mySuperPower {
      font-size: 1.8em;
      margin-left: 10px;
    }
    #myListCapacities {
      column-gap: 10px;
      margin-right: 30px;
      .frontend, .backend {
        .framework {
          font-size: 1.0em;
        }
      }
    }
  }
  #myProjets {
    .nameProjet {
      font-size: 2.4em;
    }
    #listProjets {
      #projet {
        margin: 15px;
        .img-fluid {
          max-width: 260px;
          margin-right: 45px;
        }
      }
    }
    .lienProjets {
      margin-top: -18px;
      margin-bottom: 12px;
      .lien {
        font-size: 1.6em;
      }
    }
  }
  .showProjet {
    #btnCloseProjet {
      left: 96%;
    }
    .containProjet {
      top: 54%;
      .info {
        #btnSeeProjet {
          width: 46%;
          font-size: 1.6em;
          margin: 13px auto;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  #me {
    .container-fluid {
      .myProfil {
        .myName {
          width: 92%;
        }
      }
    }
  }
  #contact {
    .contactModal {
      width: 92%;
    }
  }
  .showProjet {
    #btnCloseProjet {
      left: 95%;
    }
    .containProjet {
      top: 54%;
      .info {
        .img-fluid {
          display: none;
        }
        #btnSeeProjet {
          width: 49%;
          font-size: 1.6em;
          margin: 13px auto;
        }
      }
      .listFrameworks {
        #btnSecondLangage {
          margin-top: 9px;
        }
        #btnThirdLangage {
          margin-top: 9px;
        }
      }
      .help {
        font-size: 1.8em;
        margin: 19px auto;
        display: block;
        width: 290px;
      }
    }
  }
  #present {
    #btnClosePresent {
      top: 4%;
      left: 84%;
    }
  }
}
