* {
  box-sizing: border-box;
}

body {
  margin: auto;
  display: block;
}

@font-face {
  font-family: emizen;
  src: url(./assets/fonts/emizen.otf);
}
@font-face {
  font-family: linkStart;
  src: url(./assets/fonts/linkStart.otf);
}
@font-face {
  font-family: RoundControl;
  src: url(./assets/fonts/roundControl.otf);
}
@font-face {
  font-family: olney;
  src: url(./assets/fonts/olney.otf);
}
@font-face {
  font-family: fastHand;
  src: url(./assets/fonts/fastHand.otf);
}
#me {
  background-image: url("/assets/pict/gamerBackground.jpg");
}
#me .container-fluid .navbar {
  align-items: center;
  justify-content: space-between;
}
#me .container-fluid .navbar .navbar-brand {
  width: 60px;
  height: 60px;
  padding: 7px;
  font-size: 2em;
  margin-left: 10px;
  border-radius: 50%;
  color: azure;
  letter-spacing: 2px;
  font-family: fastHand;
  border: 1px solid black;
  background-color: black;
}
#me .container-fluid .myProfil {
  height: 700px;
  color: rgb(165, 8, 165);
  position: relative;
  text-align: center;
}
#me .container-fluid .myProfil .containProfil .myName {
  width: 30%;
  margin: 20px auto;
  display: block;
  font-size: 3.2em;
  letter-spacing: 6px;
  border-radius: 40px;
  font-family: emizen;
  cursor: pointer;
  background-color: #171a21;
  border: 1px solid black;
}
#me .container-fluid .myProfil .containProfil .myName:hover {
  color: azure;
  background-color: rgb(165, 8, 165);
}
#me .container-fluid .myProfil .containProfil .showAnimate .containPresent .row .col-lg-5 .img-fluid {
  height: 405px;
  max-width: 600px;
  border-radius: 40px 0px 0px 40px;
}
#me .container-fluid .myProfil .containProfil .showAnimate .containPresent .row .col-lg-7 {
  padding: 40px 30px 30px 0px;
}
#me .container-fluid .myProfil .containProfil .showAnimate .containPresent .row .col-lg-7 .job {
  letter-spacing: 2px;
  font-size: 1.7em;
  color: azure;
  font-family: emizen;
}
#me .container-fluid .myProfil .containProfil .showAnimate .containPresent .row .col-lg-7 .describe {
  margin: -10px auto;
  font-size: 1.3em;
  color: azure;
  font-family: olney;
}
#me .container-fluid .myProfil .containProfil .showAnimate .containPresent .row .col-lg-7 .listPoints {
  margin: 30px auto;
}
#me .container-fluid .myProfil .containProfil .showAnimate .containPresent .row .col-lg-7 .listPoints .strong, #me .container-fluid .myProfil .containProfil .showAnimate .containPresent .row .col-lg-7 .listPoints .weak {
  letter-spacing: 3px;
  font-family: linkStart;
  font-size: 1.3em;
  color: azure;
}

.aboutMe {
  background-color: rgb(31, 31, 31);
}
.aboutMe .about {
  padding-top: 12px;
  color: azure;
  font-size: 2.1em;
  text-align: center;
  font-family: emizen;
  letter-spacing: 4px;
}
.aboutMe #myStory {
  padding: 20px;
  flex-direction: row;
  align-items: center;
}
.aboutMe #myStory .img-fluid {
  height: 600px;
}
.aboutMe .meIdentify {
  color: azure;
  line-height: 65px;
}
.aboutMe .meIdentify .describeMe {
  font-size: 1.6em;
  font-family: olney;
  letter-spacing: 2px;
}

.Capacity {
  padding-top: 20px;
  padding-bottom: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/pict/capacityBackground.jpg");
}
.Capacity .mySuperPower {
  color: azure;
  margin: 5px auto;
  text-align: center;
  letter-spacing: 4px;
  font-family: emizen;
  text-shadow: 0px 1px 5px black;
}
.Capacity #myListCapacities {
  -moz-column-gap: 120px;
       column-gap: 120px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.Capacity #myListCapacities .frontend {
  justify-content: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.Capacity #myListCapacities .frontend .framework {
  font-size: 1.6em;
  letter-spacing: 2px;
  color: azure;
  font-family: RoundControl;
  text-shadow: 0px 1px 5px black;
}
.Capacity #myListCapacities .backend {
  justify-content: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.Capacity #myListCapacities .backend .framework {
  font-size: 1.6em;
  letter-spacing: 2px;
  color: azure;
  font-family: RoundControl;
  text-shadow: 0px 1px 5px black;
}
.Capacity #btnCV {
  margin: auto;
  display: block;
  cursor: pointer;
  font-size: 1.4em;
  color: azure;
  border-radius: 10px;
  letter-spacing: 2px;
  font-family: linkStart;
  border: 1px solid azure;
  background-color: #075509;
}
.Capacity #btnCV:active {
  transform: translateY(4px);
  background-color: darkred;
}
.Capacity #btnCV .download {
  color: azure;
  text-decoration: none;
}
.Capacity #btnCV .fa-download {
  padding-left: 10px;
}

#myProjets {
  margin: -16px auto;
  background-size: cover;
  padding: 10px 0px 30px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/pict/projetsWallpaper.jpeg");
}
#myProjets .nameProjet {
  color: azure;
  margin: 5px auto;
  text-align: center;
  letter-spacing: 4px;
  font-family: emizen;
}
#myProjets #listProjets {
  margin: 20px auto;
  text-align: center;
  position: relative;
  top: 50%;
  left: 0%;
}
#myProjets #listProjets .col-lg-4 .img-fluid {
  width: 100%;
  height: 100%;
  cursor: pointer;
  max-width: 520px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
  transition: all 0.25ms ease;
  border: 1px solid transparent;
}
#myProjets .lienProjets {
  text-align: center;
}
#myProjets .lienProjets .lien {
  color: azure;
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: 3px;
  text-decoration: none;
  font-family: linkStart;
}
#myProjets .lienProjets .lien:hover {
  color: darkred;
}

#contact {
  margin-top: -20px;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/pict/contactBackground.jpeg");
}
#contact .titleContact {
  color: azure;
  text-align: center;
  font-family: emizen;
  letter-spacing: 4px;
  text-shadow: 0px 1px 5px black;
}
#contact .contactModal {
  padding-right: 18px;
  padding-bottom: 20px;
  width: 40%;
  display: block;
  margin: 10px auto;
  border-radius: 40px;
  background-color: black;
  border: 1px solid black;
}
#contact .contactModal .form-area {
  margin-left: 10px;
  text-align: center;
}
#contact .contactModal .form-area form .alert {
  width: 80%;
  display: block;
  margin: 5px auto;
}
#contact .contactModal .form-area form .alert p {
  font-family: olney;
}
#contact .contactModal .form-area form .form-group .row .col-lg-6 input {
  width: 100%;
  height: 40px;
  font-size: 1.1em;
  max-width: 300px;
  border: 0px solid azure;
  margin: 0px auto;
  border-radius: 5px;
  font-family: RoundControl;
}
#contact .contactModal .form-area form .form-group textarea {
  width: 95%;
  font-size: 1.4em;
  border-radius: 5px;
  margin-top: 25px;
  font-family: RoundControl;
  border: 0px solid azure;
}
#contact .contactModal .form-area form .form-group .warningTwo {
  margin-left: 30px;
}
#contact .contactModal .form-area form .form-group .warningTwo .alert {
  width: 95%;
  max-width: 800px;
}
#contact .contactModal .form-area form #btnSend {
  color: azure;
  border: 1px solid azure;
  display: block;
  cursor: pointer;
  margin: 8px auto;
  font-size: 1.4em;
  padding: 10px 20px;
  border-radius: 5px;
  letter-spacing: 3px;
  font-family: linkStart;
  background-color: transparent;
  transition: all 0.25ms ease;
}
#contact .contactModal .form-area form #btnSend:active {
  color: black;
  transform: translateY(px);
  background-color: azure;
}

.showProjet {
  height: 100vh;
  padding-top: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/pict/modalBackground.jpeg");
}
.showProjet #btnCloseProjet {
  position: relative;
  top: 0%;
  left: 99%;
  margin-bottom: -85px;
  transform: translate(-50%, -50%);
  color: azure;
  font-size: 1.7em;
  background: transparent;
  border: transparent;
}
.showProjet .containProjet {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  position: relative;
  text-align: center;
}
.showProjet .containProjet .nameProjet {
  color: azure;
  font-size: 2.4em;
  text-align: center;
  font-family: linkStart;
}
.showProjet .containProjet .info {
  display: flex;
  flex-direction: column;
}
.showProjet .containProjet .info .img-fluid {
  height: 620px;
  max-width: 1070px;
}
.showProjet .containProjet .info #btnSeeProjet {
  width: 8%;
  margin: 10px auto;
  display: block;
  font-size: 1.4em;
  border-radius: 7px;
  background: transparent;
  border: 2px solid azure;
  text-shadow: 0 1px 0px #000000, 1px 0 0px #000000, 1px 2px 1px #000000, 2px 2px 3px #000000, 2px 2px 2px #ffffff, 2px 2px 0px #ffffff, 2px 2px 8px rgba(206, 206, 206, 0.13);
}
.showProjet .containProjet .info #btnSeeProjet a {
  font-family: linkStart;
  color: azure;
  text-decoration: none;
}
.showProjet .containProjet .info #btnSeeProjet a:hover {
  color: black;
  text-shadow: 0 1px 0px #ffffff, 1px 0 0px #ffffff, 1px 0px 1px #000000, 2px 2px 3px #000000, 2px 2px 2px #ffffff, 2px 2px 0px #ffffff, 2px 2px 8px rgba(206, 206, 206, 0.13);
}
.showProjet .containProjet .info #btnSeeProjet:hover {
  background-color: azure;
}
.showProjet .containProjet .listFrameworks {
  margin: 7px auto;
}
.showProjet .containProjet .listFrameworks #btnFirstLangage {
  font-size: 1.5em;
  font-family: RoundControl;
  color: azure;
  background: rgb(180, 2, 2);
  border: 1px solid rgb(180, 2, 2);
}
.showProjet .containProjet .listFrameworks #btnSecondLangage {
  font-size: 1.5em;
  margin-right: 20px;
  margin-left: 20px;
  font-family: RoundControl;
  color: azure;
  background: rgb(0, 67, 190);
  border: 1px solid rgb(0, 67, 190);
}
.showProjet .containProjet .listFrameworks #btnThirdLangage {
  font-size: 1.5em;
  font-family: RoundControl;
  color: azure;
  background: rgb(137, 4, 177);
  border: 1px solid rgb(137, 4, 177);
}
.showProjet .containProjet .listFrameworks #btnGithub {
  border: none;
  background: transparent;
}
.showProjet .containProjet .listFrameworks #btnGithub .github {
  cursor: pointer;
  font-size: 1.5em;
  color: azure;
  margin-left: 10px;
}
.showProjet .containProjet .listFrameworks #btnGithub:hover {
  transform: scale(1.4);
}
.showProjet .containProjet .help {
  color: azure;
  font-size: 2em;
  margin-top: 15px;
  text-align: center;
  font-family: linkStart;
}

@media screen and (max-width: 1440px) {
  .showProjet .containProjet .info #btnSeeProjet {
    width: 12%;
    font-size: 1.6em;
  }
  .showProjet .containProjet .help {
    margin: 19px auto;
    display: block;
    width: 800px;
  }
}
@media screen and (max-width: 1220px) {
  #my-capacity #myListCapacities {
    display: flex;
    flex-direction: row;
  }
  #my-capacity #myListCapacities .frontend {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  #my-capacity #myListCapacities .backend {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  #me .container-fluid .myProfil .containProfil .showAnimate .containPresent .row .col-lg-5 .img-fluid {
    height: 495px;
  }
  #about-me #myStory .col-lg-5 .img-fluid {
    height: 600px;
  }
  #about-me #myStory .col-lg-7 .meIdentify {
    line-height: 40px;
  }
  #myProjets .nameProjet {
    font-size: 2.1em;
  }
  #myProjets .lienProjets .lien {
    margin-top: 10px;
    font-size: 1.4em;
  }
  #contact .contactModal {
    padding-bottom: 15px;
    width: 70%;
  }
  .showProjet .containProjet .info .img-fluid {
    height: 500px;
    max-width: 800px;
  }
  .showProjet .containProjet .info #btnSeeProjet {
    width: 18%;
    font-size: 1.6em;
    margin: 13px auto;
  }
  .showProjet .containProjet .help {
    font-size: 1.8em;
    margin: 19px auto;
    display: block;
    width: 800px;
  }
}
@media screen and (max-width: 992px) {
  .Capacity .mySuperPower {
    font-size: 2.8em;
    margin-left: 40px;
  }
  .aboutMe .row .col-lg-5 {
    margin: auto;
    display: block;
    max-width: 800px;
  }
  .aboutMe .row .col-lg-7 {
    margin-top: 9px;
    margin-bottom: -12px;
    text-align: center;
  }
  #myProjets #listProjets {
    margin-top: -2px;
  }
  #myProjets #listProjets .col-lg-4 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  #myProjets #listProjets .col-lg-4 .img-fluid {
    max-width: 480px;
  }
  #myProjets .lienProjets {
    margin-top: -18px;
    margin-bottom: 12px;
  }
  #myProjets .lienProjets .lien {
    font-size: 1.6em;
  }
}
@media screen and (max-width: 991px) {
  #contact .contactModal {
    width: 60%;
  }
  #contact .contactModal .form-area form .form-group .row .col-lg-6 input {
    max-width: 400px;
    width: 100%;
  }
  #contact .contactModal .form-area form .form-group textarea {
    width: 86%;
  }
}
@media screen and (max-width: 959px) {
  #me .container-fluid .myProfil .myName {
    width: 55%;
  }
}
@media screen and (max-width: 792px) {
  #contact .contactModal {
    width: 60%;
  }
  #contact .contactModal .form-area form .form-group .row .col-lg-6 input {
    max-width: 370px;
    width: 100%;
  }
  #contact .contactModal .form-area form .form-group textarea {
    width: 86%;
  }
}
@media screen and (max-width: 768px) {
  #me .container-fluid .myProfil .containProfil .myName {
    width: 300px;
  }
  #me .container-fluid .myProfil .containProfil .showAnimate .containPresent {
    height: 550px;
    overflow: auto;
  }
  #me .container-fluid .myProfil .containProfil .showAnimate .containPresent .row .col-lg-5 .img-fluid {
    height: 295px;
    max-width: 737px;
    border-radius: 40px 40px 0px 0px;
  }
  #me .container-fluid .myProfil .containProfil .showAnimate .containPresent .row .col-lg-7 {
    padding: 20px 0px 30px 0px;
  }
  #me .container-fluid .myProfil .containProfil .showAnimate .containPresent .row .col-lg-7 .job {
    font-size: 1.5em;
  }
  #about-me #myStory .col-lg-5 .img-fluid {
    height: 600px;
  }
  #about-me #myStory .col-lg-7 .meIdentify {
    margin-top: 10px;
    text-align: center;
    line-height: 40px;
  }
  #myProjets .nameProjet {
    font-size: 2.4em;
  }
  #myProjets #listProjets {
    margin-top: -2px;
  }
  #myProjets #listProjets .col-lg-4 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  #myProjets #listProjets .col-lg-4 .img-fluid {
    max-width: 480px;
  }
  #myProjets .lienProjets {
    margin-top: -18px;
    margin-bottom: 12px;
  }
  #myProjets .lienProjets .lien {
    font-size: 1.6em;
  }
  .Capacity #myListCapacities {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  #contact .titleContact {
    margin-top: -15px;
  }
  .showProjet #btnCloseProjet {
    left: 98%;
  }
  .showProjet .containProjet .info .img-fluid {
    height: 500px;
    max-width: 670px;
  }
  .showProjet .containProjet .info #btnSeeProjet {
    width: 24%;
    font-size: 1.6em;
    margin: 13px auto;
  }
  .showProjet .containProjet .help {
    font-size: 1.8em;
    margin: 19px auto;
    display: block;
    width: 720px;
  }
}
@media screen and (max-width: 700px) {
  .Capacity .mySuperPower {
    font-size: 2.3em;
    margin-left: -5px;
  }
  .Capacity #myListCapacities {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media screen and (max-width: 580px) {
  #myProjets .nameProjet {
    font-size: 2.4em;
  }
  #myProjets #listProjets #projet .img-fluid {
    max-width: 280px;
  }
  #myProjets .lienProjets {
    margin-top: -18px;
    margin-bottom: 12px;
  }
  #myProjets .lienProjets .lien {
    font-size: 1.6em;
  }
  .Capacity .mySuperPower {
    font-size: 1.8em;
  }
}
@media screen and (max-width: 480px) {
  .Capacity .mySuperPower {
    font-size: 1.6em;
    margin-right: 22px;
  }
}
@media screen and (max-width: 425px) {
  #me .container-fluid .myProfil .containProfil .myName {
    width: 300px;
  }
  #me .container-fluid .myProfil .containProfil .showAnimate .containPresent {
    height: 550px;
    overflow: auto;
  }
  #me .container-fluid .myProfil .containProfil .showAnimate .containPresent .row .col-lg-5 .img-fluid {
    height: 295px;
    max-width: 737px;
    border-radius: 40px 40px 0px 0px;
  }
  #me .container-fluid .myProfil .containProfil .showAnimate .containPresent .row .col-lg-7 {
    padding: 20px 40px 10px 40px;
  }
  #me .container-fluid .myProfil .containProfil .showAnimate .containPresent .row .col-lg-7 .job {
    font-size: 1.4em;
  }
  #about-me #myStory .col-lg-5 .img-fluid {
    height: 600px;
  }
  #about-me #myStory .col-lg-7 .meIdentify {
    line-height: 35px;
  }
  .Capacity .mySuperPower {
    font-size: 1.8em;
    margin-left: 17px;
  }
  .Capacity #myListCapacities {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .Capacity #myListCapacities .frontend .framework, .Capacity #myListCapacities .backend .framework {
    font-size: 1.2em;
  }
  #myProjets .nameProjet {
    font-size: 2.4em;
  }
  #myProjets #listProjets #projet {
    margin: 15px;
  }
  #myProjets #listProjets #projet .img-fluid {
    max-width: 320px;
    margin-right: 30px;
  }
  #myProjets .lienProjets {
    margin-top: -18px;
    margin-bottom: 12px;
  }
  #myProjets .lienProjets .lien {
    font-size: 1.6em;
  }
  #contact .contactModal {
    width: 85%;
  }
  .showProjet #btnCloseProjet {
    left: 96%;
  }
  .showProjet .containProjet {
    top: 54%;
  }
  .showProjet .containProjet .info .img-fluid {
    display: none;
  }
  .showProjet .containProjet .info #btnSeeProjet {
    width: 36%;
    font-size: 1.6em;
    margin: 13px auto;
  }
  .showProjet .containProjet .listFrameworks #btnThirdLangage {
    margin-top: 11px;
  }
  .showProjet .containProjet .help {
    font-size: 1.8em;
    margin: 19px auto;
    display: block;
    width: 290px;
  }
  #present {
    padding: 20px;
  }
  #present #btnClosePresent {
    top: 4%;
    left: 87%;
  }
  #present .modal-dialog {
    width: 100%;
    max-width: 900px;
    top: 50%;
    left: 45%;
    position: relative;
    transform: translate(-50%, -50%);
  }
  #present .modal-dialog .modal-content {
    height: 770px;
    padding: 20px;
    width: 450px;
  }
  #present .modal-dialog .modal-content .modal-footer {
    height: 290px;
  }
  #present .modal-dialog .modal-content .modal-footer .describeMe {
    height: 260px;
    overflow: auto;
  }
}
@media screen and (max-width: 375px) {
  #me .container-fluid .myProfil .myName {
    width: 80%;
  }
  .Capacity .mySuperPower {
    font-size: 1.8em;
    margin-left: 10px;
  }
  .Capacity #myListCapacities {
    -moz-column-gap: 10px;
         column-gap: 10px;
    margin-right: 30px;
  }
  .Capacity #myListCapacities .frontend .framework, .Capacity #myListCapacities .backend .framework {
    font-size: 1em;
  }
  #myProjets .nameProjet {
    font-size: 2.4em;
  }
  #myProjets #listProjets #projet {
    margin: 15px;
  }
  #myProjets #listProjets #projet .img-fluid {
    max-width: 260px;
    margin-right: 45px;
  }
  #myProjets .lienProjets {
    margin-top: -18px;
    margin-bottom: 12px;
  }
  #myProjets .lienProjets .lien {
    font-size: 1.6em;
  }
  .showProjet #btnCloseProjet {
    left: 96%;
  }
  .showProjet .containProjet {
    top: 54%;
  }
  .showProjet .containProjet .info #btnSeeProjet {
    width: 46%;
    font-size: 1.6em;
    margin: 13px auto;
  }
}
@media screen and (max-width: 320px) {
  #me .container-fluid .myProfil .myName {
    width: 92%;
  }
  #contact .contactModal {
    width: 92%;
  }
  .showProjet #btnCloseProjet {
    left: 95%;
  }
  .showProjet .containProjet {
    top: 54%;
  }
  .showProjet .containProjet .info .img-fluid {
    display: none;
  }
  .showProjet .containProjet .info #btnSeeProjet {
    width: 49%;
    font-size: 1.6em;
    margin: 13px auto;
  }
  .showProjet .containProjet .listFrameworks #btnSecondLangage {
    margin-top: 9px;
  }
  .showProjet .containProjet .listFrameworks #btnThirdLangage {
    margin-top: 9px;
  }
  .showProjet .containProjet .help {
    font-size: 1.8em;
    margin: 19px auto;
    display: block;
    width: 290px;
  }
  #present #btnClosePresent {
    top: 4%;
    left: 84%;
  }
}/*# sourceMappingURL=styles.css.map */