<div class="showProjet" *ngIf="projetData">
  <button type="button" id="btnCloseProjet" [routerLink]="['/present']"><i class="fas fa-times"></i></button>
  <div class="containProjet">
    <h2 class="nameProjet">{{ projetData.name }}</h2>
    <div class="info">
      <a class="site"><img [src]="projetData.mainPict" alt="pictProjet"
          class="img-fluid w-100" /></a>
      <button type="button" id="btnSeeProjet"><a [href]="projetData.hrefSite">VOIR LE
          PROJET</a></button>
    </div>
    <div class="listFrameworks">
      <button type="button" id="btnFirstLangage">{{projetData.langageOne}}</button>
      <button type="button" id="btnSecondLangage">{{projetData.langageTwo}}</button>
      <button type="button" id="btnThirdLangage">{{projetData.langageThree}}</button>
      <button type="button" id="btnGithub"><a [href]="projetData.hrefGithub" class="github"><i
            class="fa-brands fa-github"></i></a></button>
    </div>
    <p class="help">{{projetData.help}}</p>
  </div>
</div>
